.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  margin-bottom: 1rem;
}

.App-header code {
  background-color: #21252b;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}
